.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  margin: 10px 0;
}

.video-item.item {
  padding: 0 !important;
}

.video-item.item img {
  max-width: 180px;
}
